:root {
  --uiblue: #061a2296;
  --uitblue: #061a2238;
  --uilblue: #abb6df;
  --uigrey: #686868;
  --uiblack: #2B2B2D;
  --uired: #e26959;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'NerdFont';
  line-height: 1.5;
  font-weight: 800;

  color-scheme: light dark;
  color: rgba(154, 129, 187, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

@font-face {
  font-family: 'NerdFont';
  src: url('/fonts/3270NerdFont-Regular.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}



html {
  background-color: var(--uiblack);
  background-position: center;
  background-image: url("mountain.jpg");
  background-size: cover;
}



body {
  overflow: hidden;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-family: inherit;
  color: var(--uilblue);
  font-weight: 400;
  text-decoration: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100%;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 20%;
  right: 0;
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  min-width: 50%;
  max-width: 50%;
  min-height: 50%;
  max-height: 50%;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  width: 100%;
  padding: 0.6em 1.2em;
  font-size: 0.9em;
  font-weight: 500;
  font-family: inherit;
  background-color: #6d6d6d;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-radius: 8px;
  border: 2px solid #000dff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

nav {
  display: grid;
  transform: translateX(-50%) translateY(-50%) translateZ(0);
  top: 50%;
  left: 50%;
  grid-template-columns: auto auto;
  position: absolute;
  box-sizing: border-box;
}


.menuLink {
  animation: 2s ease-out 0s 1 boxLoad;
  margin: 20px;
  width: 175px;
  height: 175px;
  transition: 0.25s;
  box-sizing: border-box;
  background-color: var(--uitblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  transform: none;
  border: 2px solid var(--uilblue);
  backdrop-filter: blur(4px);
}
.menuLink:hover {
  align-items: center;
  border-radius: 8px;
  border: 4px solid var(--uilblue);
  transition: 0.25s;
  transform: scale(0.95) translateZ(0px);
  backdrop-filter: none;
}


.spanBox {
  box-sizing: border-box;
  display: block;
  background: none;
  width: 200px;
  margin-top: 60%;
}

.menuText {
  height: auto;
  opacity: 1;
  white-space: wrap;
  font-size: 24px;
  color: var(--uilblue)
}

.shellText {
  height: auto;
  opacity: 1;
  white-space: wrap;
  font-size: 24px;
  font-family: 'Fira Code';
  color: var(--uilblue);
}

.header {
  transform: translateY(0%) translateZ(0px);
  background-color: var(--uiblue);
  -moz-box-align: center;
  align-items: center;
  width: 100%;
  height: 37px;
  top: 0px;
  left: 0%;
  position: absolute;
  padding-left: 12px;
  padding-right: 12px;
  z-index: 1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  display: flex;
  backdrop-filter: blur(4px);
}

.windowHeader {
  transform: translateY(0%) translateZ(0px);
  background-color: var(--uiblue);
  -moz-box-align: center;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  z-index: 1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  display: flex;
  backdrop-filter: blur(4px);
  top: 0;
}

.headerElement {
  margin-left: 0.2%;
  margin-right: 0.2%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  padding-bottom: 0.130%;
  border-radius: 12px;
  z-index: 1;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  font-size: 1.00em;
  font-weight: 350;
  font-family: 'Segoe UI', 'NerdFont';
  border: 2px solid var(--uilblue);
  color: var(--uilblue);
}

.one {
  background: var(--uilblue);
  color: var(--uiblue);
  border-radius: 6px;
  border: 2px solid var(--uilblue);
}


@keyframes boxLoad {
  0% {
    margin: 5px;
    opacity: 0;
  }
  100% {
    margin: 20px;
    opacity: 1;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
